/* insight start */
.insights-bold-text {
    padding: 0px 20px;
}

.separter-line {
    height: 5px;
    background: rgb(233, 89, 73);
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
}

.inside-left-description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.insights-right {
    width: 400px;
    padding-top: 30px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.barcharts {
    height: 400px;
}

.barcharts-left {
    width: 500px;
    padding: 25px;
    padding-left: 0;
}

.barcharts-left-title {
    padding: 20px;
    color: #4b286d;
}

.barcharts-left-content {
    padding: 20px;
    padding-top: 5px;
}

.progress-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.progress-items-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.progress-items:first-child {
    margin-left: 10px;
    font-size: 13px;
    color: #000;
}

.progress-items:nth-child(2) {
    font-size: 15px;
    font-weight: 600;
    color: #4B286D;
}

.barcharts-content {
    width: 440px;
    padding: 25px;
    padding-left: 0;
}

.chart-wrapper {
    margin-top: 50px;
    width: 400px;
}
  /* end  */
/* CarbonFootprint start */
.carbonFootprint-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.carbonFootprint-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.carbonFootprint-small-text {
    font-size: 15px;
    color: #4B286D;
    opacity: 0.7;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0;
}

.carbonFootprint-calenderMonth {
    margin-top: 50px;
}
.carbonFootprint-calenderMonth select {
    font-size: 16px;
}

.carbonFootprint-calenderYear {
    margin-top: 50px;
    margin-left: 25px;
}

.carbonFootprint-calenderYear select {
    font-size: 16px;
}

.carousel-item {
    float: inherit;
    margin-right: auto;
    margin: 0px 20px;
}

.footprint-lineChart div .footprint-lineChart-item {
    padding: 20px;
    padding-bottom: 0;
}

.footprint-item-horizontalBar {
    padding: 20px;
    padding-bottom: 0;
}

.carbonFootprint-progressBar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.progressBar-wrapper{
    display: flex;
     flex-direction: row;
      flex-wrap: nowrap; 
      padding-top: 2px; 
      justify-content: space-between;
}
.progressBar-wrapper.progressBar-item:first-child{
    margin-left: 10px;
     font-size: 13px; 
     padding-top: 5px; 
     color: #4B286D;
}
.progressBar-wrapper.progressBar-item:nth-child(2){
    font-size: 15px;
    font-weight: 600;
     color: #4B286D;
}
.progressBar-item-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-right: 16px;
    padding:0px;
    width: 1100px 
}
.lineChart-container {
   margin-top: 50px;
}
.HSBar-container {
    width: 100%;
     padding: 0px;
      text-align: center;
      margin-left: 20px;
}
/* end  */
/* account Dropdown start*/
.account-warapper ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}
.accountMenuItem{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 12px 60px 12px 24px;
}
.amountWithLabel {
    font-size: 12px  !important;
}
.amountWithLabel-amount{
    font-size: 15px;
    line-height: 17px;
}
.brown-color{
 color: #f45516;
}
.green-color{
 color: #2b8000;
}
.purple-color{
 color:#593f72;
}
.amountWithLabel .amountWithLabel-label {
color:#666666;
text-transform: uppercase;
display: block;
margin: 0;
}
.amountWithLabel-amount {
    font-size: 15px;
    line-height: 17px;
    font-weight: bold
}
.account-warapper ul li {
    height: 80px;
    border: 1px solid #e6e6e6; 
    background: #ffffff;
    flex-wrap: nowrap;
    padding: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    width: 33.3%;
}
.account-warapper ul li:first-child {
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
}
.account-warapper ul li:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    }
.accountMenuItem .Icon-normal {
    font-size: 16px;
    color: #4d4d4d;
}
.bugdet-warapper{
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    /* margin-bottom: 24px; */
    /* width: 33.3%; */
}
.budgetEquationContainer-header {
    padding: 12px;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.budgetEquationContainer-header-icon {
    margin-right: 12px;
    cursor: pointer;
}
.budgetEquationContainer-header .Heading {
    margin: 6px 0;
    font-size: 14px;
    line-height: 17.5px;
    font-weight: bold;
}
.budgetEquation-data-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    margin-bottom: 12px;
}
.text {
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
}
.bold {
    font-weight: bold;
}
.budgetEquationContainer-data {
    padding: 0 12px;
    margin-bottom: 12px;
}
.budgetEquation-item-left, .budgetEquation-item-right{
    padding: 16px 12px;
}
.budgetEquation-data-item:hover,
.budgetEquation-data-item.active {
    background-color: #f8edff;
}
.budgetEquation-data-item:hover .content,
.budgetEquation-data-item.active .content{
    color: #4b286d;
    font-size: 16px;
}
.budgetEquation-data-item:hover .text,
.budgetEquation-data-item.active .text{
    color: #4b286d;
    font-size: 16px;
}
.budgetEquationContainer-header-title h3 {
    font-size: 14px;
    color: #4b286d;
}
.budgetEquationContainer-select select {
    border-radius: 0;
    border: none;
    color: #566B76;
    font-size: 12px;
} 
.budgetEquationContainer-select select:focus-visible,
.budgetEquationContainer-select select:hover {
    border-radius: 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
} 
/* CarouselNew start */
.carousel-wrapper .carousel-child {
    background-color: #f1f1f1;
    padding: 20px;
    border:1px solid #D8D8D8!important;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    opacity: 1;
}
.carousel-wrapper .carousel .control-dots .dot {
background: #4b286d;
}
.carousel-status{
    display: none;
}
.carousel-wrapper .carousel .control-dots .dot.selected {
    width: 30px;
    border-radius: 20px;
    box-shadow: none;
}
.carousel-wrapper .carousel.carousel-slider {
overflow: visible;
}
.carousel-wrapper .carousel .control-dots {
    bottom: -46px;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid #4b286d !important;
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #4b286d !important;
}
.carousel-wrapper {
    margin-bottom: 50px;
}
.arrow-icon svg{
width: 14px;
}
.account-wrapper ul li:hover{
    background: #F4F4F0;
}
.account-top-bar {
    background-color: #F4F4F0;
    padding: 10px 26px;
    margin-bottom: 60px;
}
.budget-container {
    background-color: #F4F4F0;
    padding: 10px;
}
.budget-detail-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.budget-detail-wrap .budget-flex {
    flex: 0 0 28%;
}
.unpayed-bill-wrap {
    font-size: 18px;
    text-align: center;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.expeses-wrapper {
    background-color: #fff;
    padding: 0 18px;
}
.merchents-wrap {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}
.merchents-left {
    width: 50%;
}
/* bills number  */
.bill-number-text{
    border: 1px solid #4b286d;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    color: #4b286d;;
    margin-right: 24px;
    font-weight: bold;
}
.bill-content{
width: 200px;
}
/* Expenses by categories */
   progress{
   height: 20px;
}
.expeses-wrapper .progress-items {
    font-size: 10px;
}
.expeses-wrapper .budget-detail-wrap div {
    flex: none;
}
.expeses-wrapper .insights-right {
    padding-top: 4px;
}
.merchents-wrap .progressBar-item-wrap {
    width: auto;
}

.merchents-wrap .merchents-right {
    text-align: center;
    width: 50%;
}
.merchents-wrap .merchents-right .wrapper{
    display: block;
    height: auto;
    background-color: #f4f4f0;
    text-align: center;
    width: 350px;
    margin: 0 auto;
}
.merchents-wrap .merchents-right .barcharts-content {
    width: auto;
    padding: 0;
    padding-left: 0;
}
.merchents-wrap .merchents-right .chart-wrapper {
    margin-top: 0px; 
    width: auto;
    padding: 10px 0px 30px;
}
.merchents-wrap .progressBar-item {
    font-size: 10px;
}
.merchents-left .progress {
width: 100%;
}
.merchents-wrap hr {
margin: 0;
margin-left: 20px;
}
/* hsbar */
.HSbar-headig{
    text-align: left;
    padding: 12px 0px;
  }
.expeses-wrapper progress,
.merchents-wrap  progress{
    margin-top: 10px;
}
/*  */
@media (max-width: 768px){
    .HSBar-container {
        width: auto;
    }
    .expeses-wrapper .insights-right {
        width: 100%;
    }
    .bill-content {
        width: 100%;
    }
    .bill-number-text {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .unpayed-bill-wrap {
        flex-direction: column;
    }
.account-warapper ul{
    flex-direction: column;
}
.accountMenuItem {
    padding: 12px 16px;
}
.account-warapper ul li {
    height: 100%;
}
.arrow-icon svg {
    width: 10px;
}
.account-warapper ul li:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.account-warapper ul li:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.account-top-bar {
    padding: 10px 16px;
}
.budget-detail-wrap {
    flex-direction: column;
}
/* .budget-detail-wrap div{
    flex: 0%;
} */
.budget-detail-wrap .budget-flex {
    flex: 0%;
}
.account-warapper ul li {
    width: 100%;
}
.unpayed-bill-wrap {
flex: auto !important;
}
.merchents-wrap {
    flex-direction: column;
}
.merchents-left {
    width: 100%;
    margin-bottom: 30px;
}
.merchents-wrap .merchents-right {
    width: 100%;
}
.merchents-wrap .merchents-right .wrapper {
    width: 320px;
}
  }
  