.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.5s;
  color: #1c242c;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 75px;
  font-size: 16px;
  color: #1c242c;
  padding-left: 20px;
}

.indicators {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.indicators > div {
  margin: 5px;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  color: #1c242c;
}

.indicators > div.active {
  background-color: #2c888c;
  color: #1c242c;
}
